In [126]:
#import libraries
from selenium import webdriver
import pandas as pd
from selenium.common.exceptions import NoSuchElementException
import time

In [127]:
# Function to replace text in nested sublists
def nestrepl(lst, what, repl):
    for index, item in enumerate(lst):
        if type(item) == list:
            nestrepl(item, what, repl)
        else:
            if item == what:
                lst[index] = repl

In [128]:
# Read the csv input file containing list of universities websites
df = pd.read_csv(r'Book1.csv')
df

         University website
0     http://www.adams.edu/
1   http://www.adelphi.edu/
2     http://www.adler.edu/
3    http://www.adrian.edu/
4  http://www.scottlan.edu/
5   http://www.afit.af.mil/
6      http://www.aamu.edu/

In [129]:
# Setting up the driver. Install the necessary drivers for selenium. I have used gecko driver for firefox
driver = webdriver.Firefox()

In [130]:
#Finding the url
elements = ['Athletics', 'ATHLETICS', 'Sports', 'SPORTS'] #add other categories also if you have
athleticsurl = []
for i in range(len(df)):
    url = []
    website = df['University website'][i]
    driver.get(website)
    for j in elements:
        try:
            link = driver.find_element_by_link_text(j)
            link.click()
            driver.switch_to_window(driver.window_handles[-1])
            time.sleep(5)
            url.append(driver.current_url)
            break
        except NoSuchElementException:
            url.append('None')
    athleticsurl.append(url)

print(athleticsurl)

C:\Users\Dhivya\anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning: use driver.switch_to.window instead
  if sys.path[0] == '':

[['None', 'https://asugrizzlies.com/'], ['https://aupanthers.com/'], ['None', 'None', 'None', 'None'], ['https://adrianbulldogs.com/landing/index'], ['None', 'None', 'None', 'None'], ['None', 'None', 'None', 'None'], ['https://www.aamu.edu/athletics/index.html']]

In [131]:
#Cleaning and printing the result

#Removing none
nestrepl(athleticsurl, 'None', '')

#Combining it to a single list
sportslist = []
for i in range(len(athleticsurl)):
    t = ""
    for j in range(len(athleticsurl[i])):
        t += athleticsurl[i][j]
    sportslist.append(t)

In [132]:
#Printing the list
sportslist

['https://asugrizzlies.com/',
 'https://aupanthers.com/',
 '',
 'https://adrianbulldogs.com/landing/index',
 '',
 '',
 'https://www.aamu.edu/athletics/index.html']

In [133]:
#Convertint to dataframe
data = pd.DataFrame(sportslist, columns =['Sports website'])

In [134]:
#Concatenating 2 dataframe
df_col = pd.concat([df,data], axis=1)
df_col

         University website                             Sports website
0     http://www.adams.edu/                  https://asugrizzlies.com/
1   http://www.adelphi.edu/                    https://aupanthers.com/
2     http://www.adler.edu/
3    http://www.adrian.edu/   https://adrianbulldogs.com/landing/index
4  http://www.scottlan.edu/
5   http://www.afit.af.mil/
6      http://www.aamu.edu/  https://www.aamu.edu/athletics/index.html

In [135]:
#Converting to csv
df_col.to_csv('output.csv')